@media screen and (max-width : 800px) {
    .first-container {
        height: 550vh;
    }
    nav {
        position: fixed;
        z-index: 1;
        left: 0;
        right: 0;
    }

    nav .brand {
        margin-left: 20px;
    }

    nav .hamburger-menu {
        width: 35px;
        margin-right: 20px;
    }
    
    .hamburger-menu span {   
        display: block;
        width: 100%;
        height: 3px;
        margin: 7px;
        background-color: aliceblue;
        transition: 300ms;
    }

    .hamburger-menu .satu {
        transform-origin: 0;
        transform: rotate(40deg);
        transition: 300ms;
    }

    .hamburger-menu .dua {
        scale: 0;
        transition: 300ms;
    }

    .hamburger-menu .tiga {
        transform-origin: 3px;
        transform: rotate(-40deg);
        transition: 300ms;
    }

    nav ul {
        width: 300px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        position: absolute;
        top: 100px;
        margin: auto;
        left: 0;
        right: 0px;
        top: -300px;
        transition: 1s;
    }

    .showDown {
        transition: 1s;
        top: 100px;
        background-color: rgba(0, 0, 0, 0.361);
        width: 100%;
    }

    main .home {
        display: flex;
        flex-direction: column;
        font-size: 19px;
    }

    .home .side-left {
        order: 1;
        margin-top: 30px;
        font-size: 18px;
    }

    .side-left .social-media {
        width: 300px;
        margin: auto;
        margin-top: 40px;
    }

    .home .side-right .image{
        width: 200px;
        height: 200px;
        margin-top: 100px;
    }

    .side-right .image img { 
        width: 300px;
        object-position: -40px -80px;
    }

    .about-me {
        height: 70vh;
        padding-top: 200px;
    }

    .about-me .para {
        display: flex;
        flex-direction: column;
    }

    .education {
        width: 90%;
        /* border: 1px solid white; */
    }

    .education h1 {
        padding-top: 600px;
        /* padding-bottom: 300; */
    }

    .main-education {
        flex-direction: column;
        align-items: center;
        /* margin-top: 900px; */
    }

    .certificate {
        margin-top: 700px;
    }

    .certificate .main-certificate img {
        display: block;
        width: 280px;
    }
}