* {
    margin: 0;
    padding: 0;
    color: white;
}

/* css variable */

:root {
    --main-bg : #0f0e17;
    --headline : #fffffe;
    --paragraph : #a7a9be;
    --button : #ff8906;
    --button-txt : #fffffe;

    --stroke : black;
    --secondary : #f25f4c;
    --tertiary : #e53170;

}
/* close css variable */

@font-face {
    font-family: 'ubuntu-b';
    src: url('font/Ubuntu-B.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-r';
    src: url('font/Ubuntu-R.ttf') format('truetype');
}

@font-face {
    font-family: 'alatsi';
    src: url('font/Alatsi-Regular.ttf');
}

.first-container {
    width: 100%;
    height: 100vh;
    background-color: #0f0e17;
}

.first-container nav {
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: #e53170; */
    height: 50px;
    align-items: center;
    /* box-sizing: border-box; */
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

nav .brand {
    font-family: 'alatsi', Arial, Helvetica, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    background: -webkit-linear-gradient(#ff8800, #f25f4c, #ff397e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-family: 'alatsi', Arial, Helvetica, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    /* border: 1px solid white; */
    /* padding-left: 100px; */
}

nav ul li {
    list-style: none;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 20px;
}

nav ul li:hover {
    /* background-image: linear-gradient(#ff8906,#f25f4c, #e53170); */
    background-color: var(--tertiary);
    transition: all 300ms;
    color: var(--button-txt);
}

nav ul li a {
    text-decoration: none;
}

main {
    width: 90%;
    margin: auto;
}

main .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 80vh;
}

.home .side-left {
    font-size: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.side-left h1 {
    font-size: 2.2em;
    font-family: 'ubuntu-r', Arial, Helvetica, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side-left h3 {
    font-size: 1.3em;
    font-family: 'ubuntu-r';
    background: -webkit-linear-gradient(#ff8800, #f25f4c, #ff397e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}

.side-left p { 
    margin-top: 10px;
    line-height: 28px;
    font-family: 'ubuntu', Arial, Helvetica, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.side-left .social-media {
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* border: 1px solid white; */
    margin-top: 20px;
}

.social-media .icon {
    font-size: 23px;
    border: 1px solid white;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 50%;
}

.social-media .icon:hover {
     background-color: var(--tertiary);
     transition: 300ms;
}

.side-right .image {
    background-image: -webkit-linear-gradient(#ff8800, #f25f4c, #ff397e);
    overflow: hidden;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    animation: 1.5s ngambang infinite alternate;
}

.side-right .image img { 
    filter: grayscale(.7);
    /* object-fit: center; */
    object-position: -25px -90px;
}

@keyframes ngambang {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

