@import url(components/nav.css);
@import url(components/hero-section.css);
@import url(components/about-me.css);

@font-face {
  font-family: "Raleway";
  src: url('../font/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../font/BebasNeue-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #040d2c;
  color: white;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  transition: .3s ease;
}

.light {
  background-color: #eaeaea;
}

body.light .hamburger-menu {
  color: #000;
}

.blur {
  width: 100px;
  height: 100px;
  background-color:  #16F7FF;
  position: absolute;
  filter: blur(90px);
}

.blur-light {
  width: 100px;
  height: 100px;
  background-color:  #0fb1b6;
  position: absolute;
  filter: blur(90px);
}

@media screen and (min-width : 760px) {
  .blur {
    width: 200px;
    height: 200px;
    top: -50px;
    left: -50px;
    filter: blur(150px);
  }

}



