header {
  width: 100%;
}

header nav {
  display: flex;
  width: 90%;
  margin: 30px auto 0 auto;
  justify-content: space-between;
  align-items: center;
}

.title-nav {
  position: relative;
  z-index: 2;
}

.title-nav h1 span:nth-child(1) {
  color: #16F7FF;
}

.title-nav h1 span:nth-child(2) {
  color: white;
}

header nav ul {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: -400px;
  background-color: rgba(0, 0, 0, 0.662);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: .3s ease;
  color: white;
  padding-top: 100px;
}

header nav ul li {
  margin-bottom: 30px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

.toggle {
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.hamburger-menu {
  font-size: 30px;
  position: relative;
  z-index: 1;
  right: 0;
}

.dark-mode-toggle {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #16F7FF;
  border-radius: 10px;
  transition: .3s ease;
  animation: fadeIn 1.5s ease-in-out forwards;
  position: relative;
}


.dark-mode-toggle:checked::before {
  content: '\263E';
  color: white;
}

.dark-mode-toggle::before {
  content: '\2600'; 
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition: .3s ease;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-toggle:checked {
  background-color: black;
}

.dark-mode-toggle:checked::before.hamburger-menu i{
  color: black;
}

.show {
  top : 0;
  height: 60vh;
}

@media screen and (min-width : 760px) {
 

  .hamburger-menu {
    display: none;
  }

  .dark-mode-toggle {
    appearance: none;
    width: 65px;
    height: 30px;
    background-color: #16F7FF;
    border-radius: 10px;
    transition: .3s ease;
    animation: fadeIn 1.5s ease-in-out forwards;
    position: relative;
  }
  
  .dark-mode-toggle:checked {
    background-color: #979797;
  }
  
  .dark-mode-toggle::before {
    content: '\2600'; 
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: .3s ease;
    font-weight: bolder;
  }
  
  .dark-mode-toggle:checked::before {
    content: '\263E'; 
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transform: translateX(35px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header nav ul {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
  }

  header nav ul li {
    margin: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  header nav ul li a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }

  header nav ul li:nth-child(1) {
    animation-delay: 0.3s;
  }
  
  header nav ul li:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  header nav ul li:nth-child(3) {
    animation-delay: 0.7s;
  }
  
  header nav ul li:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  header nav ul li:nth-child(5) {
    animation-delay: 1s;
  }
  
  header nav ul li:nth-child(6) {
    animation-delay: 1.11s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .title-nav h1 span {
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
  }
  
  .title-nav h1 span:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .title-nav h1 span:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .title-nav h1 span:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .title-nav h1 span:nth-child(1) {
    color: #16F7FF;
  }
  
  .title-nav h1 span:nth-child(2) {
    color: white;
  }

  nav ul li a:hover {
    color: #16F7FF;
    text-shadow: 0 0 10px #16F7FF, 0 0 20px #16F7FF, 0 0 30px #16F7FF;
  }
}
