.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  font-family: 'Poppins', sans-serif;
}

.nav-container .nav-brand a {
  color: #094067;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-container .nav-brand {
  position: relative;
  z-index: 9;
  font-weight: bold;
}

.nav-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #3da9fc;
  top: -60rem;
  left: 0;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  transition: 300ms;
 }

.nav-navigation li a {
  color: white;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.show {
  top: 0;
}

.download {
  display: none;
}

@media screen and (min-width : 700px) {
  .nav-container {
    padding: 20px 60px;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-navigation {
    width: 400px;
    position: unset;
    flex-direction: row;
    justify-content: space-between;
    color: #094067;
    height: auto;
    align-items: center;
    background-color: inherit;
  }

  .nav-navigation li a {
    color: #094067;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
  }
  
  .nav-navigation li a:after {
    content: '';
    display: block;
    height: 2px;  
    width: 0; 
    background-color: #094067;  
    transition: width 0.3s ease; 
  }
  
  .nav-navigation li a:hover:after {
    width: 100%;
  }
  


  .download {
    display: block;
    border: none;
    background-color: #3da9fc;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
  }

  .download:hover {
    background-color: #0592ff;
  }
}
