main {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: space-between;
}

.main-profile h1 {
  color: #094067;
  font-size: 2rem;
}

.main-profile h2 {
  color: #094067;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.main-profile p {
  color: #5f6c7b;
}

.main-profile button {
  border: none;
  background-color: #3da9fc;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.257);
  font-size: 0.8rem;
  margin: 20px 3px;
}

.main-profile button:hover {
  background-color: #0592ff;
}

.image-profile {
  width: 250px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.image-profile img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.button .social {
  display: none;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
}

.social-media a {
  text-decoration: none;
  color: #094067;
}

.social-media .social {
  font-size: 2rem;
  cursor: pointer;
  /* padding: 10px 0; */
  margin-bottom: 20px;
}

@media screen and (min-width : 700px) {
  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
  }

  .main-profile {
    width: 50%;
  }

  .image-profile {
    width: 25%;
  }

  .social-media .social {
    display: none;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button .social {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    color: #094067;
  }
}

